<div class="row">
    <div class="col-md">
        <!--div class="card card-body"-->
            <table class="table table-sm">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Role</th>
                    <th>Employer</th>
                    <th>Status</th>
                    <th>Details</th>

                </tr>

                 {% for shift in booked_shifts%}

                <tr>
                    <td>{{shift.start_time|date}}-{{shift.start_time|date:"D"}}</td>
                    <td>{{shift.start_time|time}}-{{shift.finish_time|time}}</td>
                    <td>{{shift.role}}</td>
                    <td>{{shift.employer}}</td>
                    <td>{{shift.status}}</td>
                    <td><a href="{% url 'shift_detail' shift.id %}"class="f-n-hover btn btn-sm btn-outline-secondary btn-raised">Details</a></td>
                </tr>
                 {% endfor %}

            </table>
           
            <div class="row">
            
            <div class="col col text-center">
            <a href="{% url 'booked_shifts' user.id %}"class="f-n-hover btn btn-outline-secondary btn-sm btn-raised px-4">More reserved shifts...</a>
        
             </div>
            </div>
            <hr>
          </div>
         
        <!--/div-->
    </div>

