<footer class="footer navbar-fixed-bottom">
      
   <div class="text-center text-white" style="background-color: #f1f1f1;">
      <div class="container pt-4">
         <div class="row">
            <div class="col-md-4 text-muted">Pivacy Policy</div>
            <div class="col-md-4 text-muted">Join Us</div>
            <div class="col-md-4 text-muted">News</div>
         </div>
         <div class="row">
            <div class="col-md-4 text-muted">FAQ</div>
            <div class="col-md-4 text-muted">Site Map</div>
            <div class="col-md-4 text-muted">Contact Us</div>
         </div>
         <hr>
      </div>
   <!-- Grid container -->
   <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
         <!-- Facebook -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i></a>
         <!-- Twitter -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>
         <!-- Tiktok -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-tiktok"></i
            ></a>
         <!-- Discord -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-discord"></i
            ></a>
         <!-- Instagram -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>
         <!-- Linkedin -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
            ></a>
         <!-- Github -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
      </section>
      <!-- Section: Social media -->
      <!-- Grid container -->
      <!-- Section: Form -->
      <section class="">
         <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
               <!--Grid column-->
               <div class="text-secondary">
                  <p class="pt-1">
                     <strong>Sign up for our newsletter</strong>
                  </p>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="col-md-4 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-black mb-4">
                     <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                  </div>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="text-secondary">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-dark mb-4">
                  Subscribe
                  </button>
               </div>
               <!--Grid column-->
            </div>
            <!--Grid row-->
         </form>
      </section>
      <!-- Section: Form -->
   </div>
   <!-- Grid container -->
   <!-- Copyright -->
   <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">blabla.com</a>
   </div>
   <!-- Copyright -->

</footer>