{% load crispy_forms_tags %}
<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if user.id == form.instance.id %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Profile Information</legend>
                <div class="row">
                    <div class="col">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                
                    <div class="col">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.phone|as_crispy_field }}
                    </div>
                </div> 
               
                {{ form.bios|as_crispy_field }}

            </fieldset>
            <br>
            <bt>
            <a class="text-dark" href="{% url 'password_change' %}">Change password?</a>
            <br>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Update</button>
            </div>
            <br>
        {% endif %}
</form>
<br>


