{% load static %}
<footer class="footer navbar-fixed-bottom">
      
   <div class="text-center text-white bg-warning">
      <div class="container pt-4">
         <div class="row">
            <div class="col-md-4 text-dark">Pivacy Policy</div>
            <div class="col-md-4 text-dark">Join Us</div>
            <div class="col-md-4 text-dark">News</div>
         </div>
         <div class="row">
            <div class="col-md-4 text-dark">FAQ</div>
            <div class="col-md-4 text-dark">Site Map</div>
            <div class="col-md-4 text-dark">Contact Us</div>
         </div>
         <hr>
      </div>
   <!-- Grid container -->
   <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
         <!-- Facebook -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i></a>
         <!-- Twitter -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>
         <!-- Tiktok -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-tiktok"></i
            ></a>
         <!-- Discord -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-discord"></i
            ></a>
         <!-- Instagram -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>
         <!-- Linkedin -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
            ></a>
         <!-- Github -->
         <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
      </section>
      <!-- Section: Social media -->
      <!-- Grid container -->
      <!-- Section: Form -->
      <section class="">
         <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
               <!--Grid column-->
               <div class="text-dark">
                  <p class="pt-1">
                     <strong>Sign up for our newsletter</strong>
                  </p>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="col-md-4 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-black mb-4">
                     <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                  </div>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="text-dark">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-dark mb-4">
                  Subscribe
                  </button>
               </div>
               <!--Grid column-->
            </div>
            <!--Grid row-->
         </form>
      </section>
      <!-- Section: Form -->
   </div>
   <!-- Grid container -->
   <!-- Copyright -->
   <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">blabla.com</a>
   </div>
   <!-- Copyright -->

</footer>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
<!-- Font Awesome 5 links-->
<script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>

</html>
