{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% if user.is_nurse %}

  Hi {{user.full_name}}!

  {% else %}
   Hi {{user.last_name}}!
  {% endif %}


  <p><a class="text-dark" href="{% url 'logout' %}">Log Out</a></p>

  <a class="text-dark" href="{% url 'password_change' %}"> password change</a>
{% else %}  



  <p>You are not logged in</p>
  <a  class="text-dark" href="{% url 'login' %}">Log In</a> 

{% endif %}


{% endblock %}