{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
  {% if booked_shifts %}
   <h3>Reserved shifts</h3>
   {% include 'includes/booked.html' %}
   {% else %}
   <p>There is no reserved shifts at the moment </p>
       
 
  {% endif %}

  <span><a href="{% url 'shifts' %}">Search for available shifts</a></span><br>
 
  <span><a href="{% url 'logout' %}">Log Out</a></span><br>

  <span><a href="{% url 'password_change' %}"> password change</a></span>

  {% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> 


 {% endif %}

{% endblock %}