{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
  {% if booked_shifts %}
   <h3>Reserved shifts</h3>
   {% include 'includes/booked.html' %}
   {% else %}
   <p>There is no reserved shifts at the moment </p>
       
 
  {% endif %}

   {% if shifts_done %}
   <h3>Finished shifts</h3>
   {% include 'includes/finished_shifts.html' %}
   {% else %}
   <h4>There is no finished shifts at the moment </h4>
       
 
  {% endif %}

  <span><a class="text-dark" href="{% url 'shifts' %}">Search for available shifts</a></span><br>
 
  <span><a class="text-dark" href="{% url 'logout' %}">Log Out</a></span><br>

  <span><a class="text-dark" href="{% url 'password_change' %}"> password change</a></span>

  {% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> 


 {% endif %}

{% endblock %}