s{% extends "base.html" %}
{% load static %}
{% block title %}"{{section.search}}"{% endblock %}
{% block content %}


{% if results|length == 0 %}
    <p style="color: red;">Your search <span style="color: black;">'{{ query }}'</span> did not match any result!</p>
{% else %}


    <div class="row">
    <div class="col-md">
        <!--div class="card card-body"-->
            <table class="table table-sm">
                <tr>
                    <th>User_Id</th>
                    {% if result.is_nurse %}
                    <th>Role</th>
                    {% endif %}
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Profile</th>

                </tr>
                 <p><strong> temporary location for rendered results</strong></p>
            {% for result in results%}
           
               
                address: {{ result.address}}<br>
         
                details: {{ result.details }}<br>
                employer_org_name: {{ result.org_name }}
             
             {% if not request.user.is_employer %}
                <tr>
                    <td>{{result.id}}</td>
                    {% if result.is_nurse %}
                    <td>{{ result.nurse.role }}</td>
                    {% endif %}
                    <td>{{ result.last_name }}</td>
                    <td>{{ result.first_name }}</td>
                    <td>{{ result.email }}</td>
                    <td><a href="{% url 'profile' result.id %}"class="f-n-hover btn btn-sm btn-outline-dark btn-raised">Profile</a></td>
                </tr>
            {% else %}

                    <tr>
                    <td>{{ result.id}}</td>
                    {% if result.is_nurse %}
                    <td>{{ result.nurse.role }}</td>
                    {% endif %}
                    <td>{{ result.last_name }}</td>
                    <td>{{ result.first_name }}</td>
                    <td>{{ result.email }}</td>
                    <td><a href="{% url 'profile' result.id %}"class="f-n-hover btn btn-sm btn-outline-dark btn-raised">Profile</a></td>
                </tr>

                
            {% endif %}
            {% endfor %}



            </table>
           
            <div class="row">
            
            <div class="col col text-center">
          
        
             </div>
            </div>
        </div>
         
        <!--/div-->
    </div>


{% endif %}

 {% endblock %}

