
{% if results|length == 0 %}
    <p style="color: red;">Your search <span style="color: black;">'{{ query }}'</span> did not match any result!</p>
{% else %}


    {% for result in results %}
        <ul>
            <li>address: {{ result.address}}</li>
            <li>role: {{ result.role }}</li>
             <li>details: {{ result.details }}</li>
             <li>employer_org_name: {{ result.org_name }}</li>
             <li>user_last_name: {{ result.last_name }}</li>
        </ul>
    {% endfor %}


 {% endif %}