{% extends "header.html" %}
{% load static %}
{% block title %}here will add double"{{section.title}}"{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
  Hi {{ user.first_name }}!



<li>organization name: {{shift.employer}}</li>
<li>shift id is: {{shift.id}}</li>
<li> shift_employer_id:{{shift.employer_id}}</li>
<li> employer phone:{{shift.employer.phone}}</li>
<li> employer email:{{shift.employer.email}}</li>
<li>shift status: {{shift.status}}</li>
<li>shift date: {{shift.shift_date}}</li>
<li>shift role: {{shift.role}}</li>
<li>shift start time: {{shift.start_time}}</li>
<li>shift finish time:{{shift.finish_time}}</li>
<li>shift details: {{shift.details}}</li>
<li>organiztion address: {{shift.address}}</li>
<td><a class="btn btn-sm btn-success" href="{% url 'reserve_shift' shift.id%}">reserve</a></td>


  {% if not request.user.is_nurse %}
   
  <td><a class="btn btn-sm btn-info" href="{% url 'update_shift' shift.id %}">Update</a></td>

  <td><a class="btn btn-sm btn-danger" href="{% url 'delete_shift' shift.id %}">Delete</a></td>

  {% endif %}
         


<!-- alternative to line 24 <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
       
            <button class="button is-success" name="reserve" value="reserve" href="{% url 'reserved_shifts' %}">
                reserve
            </button>
        
        </div>
    </form>
</div>
 -->


{% endif %}
{% endblock %}