{% extends "base.html" %}
{% load static %}
{% block title %}shifts{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<main role="main" class="container">
 
      <h3>Filter Shifts</h3>
      <br>
      <form method="GET" action=".">
        {% csrf_token %}
        <div class="row">
          
            <div class="col">
                <div class="input-group">
                    
                    <input type="search" class="form-control btn-outline-dark " type="search" name="address_contains" placeholder="City contains..."/>
                    <button class="btn btn-outline"><i class="fa fa-search"></i></button>
                </div>
            </div>       

            <div class="col">
                <div class="input-group">
                    
                    <input type="search" class="form-control btn-outline-dark" type="search" name="org_name_contains" placeholder="Organization name contains..."/>
                    <button class="btn btn-outline"><i class="fa fa-search"></i></button>
                </div>
            </div>       

            <div class="col">
                <div class="input-group">
                    
                    <input type="search" class="form-control btn-outline-dark" type="search" name="nurse_id_exact" placeholder="nurse id exact..."/>
                    <button class="btn btn-outline"><i class="fa fa-search"></i></button>
                </div>
            </div>  
            
            
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="shitf_date_min">Start Date</label>
            <input type="date" class="form-control btn-outline-dark" id="shift_date_min" name="shift_date_min">
          </div>
          <div class="col">
            <label for="shift_date_max">Finish Date</label>
            <input type="date" class="form-control btn-outline-dark" id="shift_date_max" name="shift_date_max">
          </div>


          <div class="col">
            <label for="role">Role</label>
            <select id="role" class="form-control btn-outline-dark" name="role">
              <option selected>Choose...</option>

                {% for val,text in roles %}              
          
              <option value="{{val}}">{{text}}</option>
               {% endfor %}
                      
            </select>

          </div>
          
          <div class="col">
            <label for="status">Status</label>
            <select id="status" class="form-control btn-outline-dark" name="status">
             
              <option selected>Choose...</option>
                {% for val,text in statuses %}
              <option value="{{val}}">{{text}}</option>
              
                {% endfor %}
            </select>

          </div>
     
        <div class="col">
          <br>
          
          <button class="btn btn-outline-dark my-sm-0" type="submit">Search</button>
          <button class="btn btn-outline-dark my-sm-0" type="submit"><a style="text-decoration: none;" href ="{% url 'chart'%}">Chart</a></button>
          <button class="btn btn-outline-dark my-sm-0" type="submit"><a style="text-decoration: none;" href ="{% url 'export_csv'%}">CSV</a></button>
  
        </div>
      </form>
    </div>
   

{% if shifts  %}
    {% if request.user.is_employer %}
	   {% include 'includes/employer_shifts.html' %}

    {% elif request.user.is_staff %}
       {% include 'includes/staff_shifts.html' %} 
 
    {% elif request.user.is_rn %}
       {% include 'includes/rn_shifts.html' %}  
    {% else %}
        {% include 'includes/notRN_shifts.html' %}
    {% endif %}
     
{% else %}

 <p> There is no shift available at the moment, come back later...</p>

{% endif %}

</main>
{% endblock %}
