{% if shifts %}
	<ul>
	{% for shift in shifts %}
	 
            <li>organization name: {{shift.org_name}}</li>
          
            <li>shift id is: {{shift.id}}</li>
             <li> {{shift.employer_id}}</li>
       
            <li>shift date: {{shift.date}}</li>
            <li>shift role: {{shift.role}}</li>
            <li>shift start time: {{shift.start_time}}</li>
            <li>shift finish time:{{shift.finish_time}}</li>
            <li>shift details: {{shift.details}}</li>
            <li>organiztion address: {{shift.street}}</li>
            <li>postcode: {{shift.postcode}}</li>
            <li>city: {{shift.city}}</li>
            <p> -----------------</p>
     

	 {% endfor %}
	<ul>
{% else %}

 <p> No shift is available</p>

{% endif %}